apiVersion: traefik.containo.us/v1alpha1
kind: TLSOption
metadata:
  name: tlsoptions
  namespace: argocd
spec:
  minVersion: VersionTLS12
  cipherSuites:
    - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256
    - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
    - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
    - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305
    - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
    - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305
    - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305
    - TLS_AES_256_GCM_SHA384
    - TLS_AES_128_GCM_SHA256
    - TLS_CHACHA20_POLY1305_SHA256
    - TLS_FALLBACK_SCSV
  curvePreferences:
    - CurveP521
    - CurveP384
  sniStrict: false

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute

metadata:
  name: argocd-https
  namespace: argocd
spec:
  entryPoints:
    - websecure
  tls:
    secretName: argocd-server-ssl
    options:
      name: tlsoptions
  routes:
  - kind: Rule
    match: (Host(`argocd.{{ external_domain }}`) || Host(`argocd.home`))
    priority: 10
    services:
      - name: argocd-server
        port: 80
  - kind: Rule
    match: (Host(`argocd.{{ external_domain }}`) && Headers(`Content-Type`, `application/grpc`))
    priority: 11
    services:
      - name: argocd-server
        port: 80
        scheme: h2c
